<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta name="description" content="Programează o consultație on-line">
        <meta name="og:title" property="og:title" content="Dr Burlacu Maria Monica, medic specialist pediatru">
        <link rel="shortcut icon" href="{{ asset('assets/images/logo.png') }}" />

        <title>{% block title %}Welcome!{% endblock %}</title>
        {% block stylesheets %}
            <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
            <link href="{{ asset('assets/css/fontawesome-all.min.css') }}" rel="stylesheet"/>
            <link href="{{ asset('assets/css/app.css') }}" rel="stylesheet"/>
        {% endblock %}
    </head>

    <body>
        <div class="container-fluid page">
            <div class="header row">
                <div class="logo col-sm-2">
                    <a href="{{ path('app_homepage') }}"><img src="{{ asset('assets/images/logo.png') }}"></a>
                </div>
                <div class="menu col-sm-10 row">
                    <div class="col-md-3"></div>
                    <div class="col-md-2">{#<a href="{{ path('app_homepage') }}#doctor">Doctor</a>#}</div>
                    <div class="col-md-3"><a href="{{ path('app_consultation') }}">Consultanță on-line</a></div>
                    <div class="col-md-2"><a href="{{ path('app_homepage') }}#prices">Tarife</a></div>
                    <div class="col-md-2"><a href="{{ path('app_homepage') }}#gallery">Galerie</a></div>
                </div>
            </div>

            {% block body %}{% endblock %}

            <div class="footer-pages row">
                <div class="col-md-4">
                    <div class="footer-company">
                        PAEDIATRICS BEST PRACTICE SRL<br>
                        J12/1806/2017; CUI 37437978<br>
                        Sediu: Florești<br>
                        Cont bancar: RO54BTRLRONCRT0391503101
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="footer-title">
                        Date de contact
                    </div>
                    <div class="footer-content">
                        <i class="fas fa-map-marker-alt"></i> Florești, str. Eroilor, nr. 168, ap. 1<br>
                        <i class="fa fa-phone"></i> 0757 995 567<br>
                        <i class="fas fa-at"></i> pedi.floresti@yahoo.com
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="footer-title">
                        Informații utile
                    </div>
                    <div class="footer-content">
                        <ul>
                            <li><a href="{{ path('app_consultation') }}">Consultanță on-line</a></li>
                            <li><a href="{{ path('app_terms') }}">Termeni și condiții pentru consultanță on-line</a></li>
                            <li><a href="{{ path('app_gdpr') }}">Consimțământ de prelucrare a datelor cu caracter personal</a></li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="footer-credits row">
                <div class="copyright-text col-md-10">© 2020 PAEDIATRICS BEST PRACTICE SRL</div>
                <div class="design-by col-md-2"></div>
            </div>
        </div>

        {% block javascripts %}
            <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
            <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
            <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
            <script src="{{ asset('assets/js/app.js') }}"></script>
        {% endblock %}
    </body>
</html>
